table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
    width: 60px;
  }
  
  table {
    border-collapse: collapse;
    width: 60px;
    overflow: hidden;
  }
  
  th, td {
    padding: 20px;
    overflow: hidden;
  }